<div class="sidebar" style="max-height: 90vh;">
  <div class="header">
    <span class="return" *ngIf="chatId != 0" matTooltip="Return" (click)="returnToChats()">
      <mat-icon>arrow_back</mat-icon>
    </span>
    <span class="close" matTooltip="Close chat" (click)="changeShowingChat()">
      &times;
    </span>
    <span class="close" matTooltip="Create group chat" (click)="changeShowingNewChat()">
      <img src="assets/group-chat.png" style="width: 35px;" alt="group chat">
    </span>
    <h1 *ngIf="!chatId || chatId == 0">Chats</h1>
  </div>

  <div class="user-search" style="margin: 0px;" *ngIf="!chatId || chatId==0">
    <div style="display: flex;flex-direction: row;">
      <div class="inputGroup">
        <input type="text" required="" [(ngModel)]="searchQuery" (input)="searchUsers(searchQuery)" autocomplete="off">
        <label for="name">Search users</label>
      </div>
      <span class="return" matTooltip="clear search" (click)="ClearSearch()">
        <mat-icon>clear</mat-icon>
      </span>
    </div>
    <div class="search-results" *ngIf="searchResults.length > 0">
      <div class="search-item" *ngFor="let user of searchResults" (click)="startChatWithUser(user.id)">
        <span>{{ user.username }}</span>
      </div>
    </div>
  </div>


  <div class="chat-list-container" *ngIf="!chatId || chatId == 0" style="overflow-y: scroll;">
    <div class="chat-list">
      <div *ngFor="let chat of chats" class="chat-item" style="padding: 5px;margin-right: 10px;" (click)="openChat(chat.id)">
        <div class="chat-avatar">
          <img src="assets/logo.png" alt="Chat Avatar" />
        </div>
        <div class="chat-info">
          <span class="chat-name">{{ chat?.name?.replace(currentUsername, '')?.replace('-', '') }}</span>
          <span class="last-message">{{getRelativeTime(chat.lastActivity)}}</span>
        </div>
      </div>
    </div>

  </div>

  <app-chat *ngIf="chatId != 0" [chatId]="chatId"></app-chat>
</div>

<div *ngIf="showNewChat" class="new-chat" style="padding-top: 10px;margin-left: auto;" class="new-chat">
  <span class="return" style="font-size: 40px;margin: 0px;margin-left: auto;" matTooltip="Close window"
    (click)="changeShowingNewChat()">
    &times;
  </span>
  <div class="wave-group">
    <input required="" type="text" [(ngModel)]="newChatName" class="input">
    <span class="bar"></span>
    <label class="label">
      <span class="label-char" style="--index: 0">C</span>
      <span class="label-char" style="--index: 1">h</span>
      <span class="label-char" style="--index: 2">a</span>
      <span class="label-char" style="--index: 3">t</span>
      <span class="label-char" style="--index: 3">&nbsp;</span>
      <span class="label-char" style="--index: 0">n</span>
      <span class="label-char" style="--index: 1">a</span>
      <span class="label-char" style="--index: 2">m</span>
      <span class="label-char" style="--index: 3">e</span>
    </label>
  </div>
  <button (click)="addNewChat()">Add Chat</button>
</div>