h2 {
  color: #333;
}

/* Glavni kontejner */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
  max-width: 90%;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  color: #333;
}

/* Zaglavlje profila */
.profile-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}

/* Profilna slika */
.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.profile-image:hover {
  transform: scale(1.05);
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 5px -2px 5px var(--primary);
}

.close {
  color: #aaa;
  float: right;
  font-size: 48px;
  margin-left: auto;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}


/* Informacije o korisniku */
.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}

.profile-username {
  font-size: 2em;
  font-weight: bold;
  color: var(--primary);
  margin-bottom: 10px;
}

/* Akcije praćenja */
.profile-actions {
  display: flex;
  gap: 15px;
}

.follow-button,
.unfollow-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; /* Razmak između ikone i teksta */
  padding: 8px;
  font-size: 1em;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.follow-button mat-icon {
  font-size: 20px; /* Veličina ikone */
}

.follow-button {
  background-color: #4caf50; /* Zelena za Follow */
}

.follow-button:hover {
  background-color: #45a047;
  transform: scale(1.05);
}

.unfollow-button {
  background-color: #f44336; /* Crvena za Unfollow */
}

.unfollow-button:hover {
  background-color: #e53935;
  transform: scale(1.05);
}

/* Detalji profila */
.profile-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  font-size: 1.1em;
  color: #555;
}

.profile-details p {
  margin: 5px 0;
}

strong {
  font-weight: bold;
  color: #333;
}


p {
  font-size: 1.1em;
}

.delete-icon {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.delete-icon:hover {
  transform: scale(1.2);
}

strong {
  color: #555;
}

.profile-actions {
  margin-top: 10px;
  display: flex;
  align-items: flex-end;
}

.profile-actions button {
  margin-right: 10px;
}

.post-list {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.post-card {
  margin: 10px;
  padding: 5px;
  background-color: rgba(229, 225, 184, 0.615);
  transition: background-color 0.3s ease;
  box-shadow: 5px -2px 5px var(--primary);
}

.profile-header {
  margin-left: auto;
}

.post-card:hover {
  background-color: var(--accent-light);
}

.pagination {
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: center;
  position: relative;
  bottom: 0px;
  border-radius: 10px;
}

mat-button:hover {
  background-color: var(--primary);
}

.no-posts-message {
  text-align: center;
  font-size: 18px;
  color: gray;
  margin-top: 20px;
}

mat-card-header {
  margin-top: -15px;
  margin-bottom: 10px;
  flex: 0 0 auto;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
}

mat-card-actions button img {
  width: 28px;
  height: 28px;
  margin-right: 8px;
}

img {
  width: 100%;
  max-height: 100%;
  /* Ograničite visinu slike */
  object-fit: cover;
  /* Zadržava aspekt proporcija slike */
}

mat-card {
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 320px;
}

mat-card-content {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* Dodajte overflow kako bi se sadržaj pravilno prikazao */
}

mat-card-footer {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  overflow: hidden;
  /* Dodajte overflow kako bi se sadržaj pravilno prikazao */
}

mat-card-title {
  font-family: 'Pacifico', cursive;
  font-size: xx-large;
  font-weight: bold;
  color: var(--primary);
  /* Koristite CSS varijablu za primarnu boju */
  transition: transform 0.3s ease;
}

mat-card-title:hover {
  transform: scale(1.3);
  /* Uvećanje na hover */
}

.dugme {
  font-weight: bolder;
  font-size: larger;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Pacifico', cursive;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}











.profile-actions-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.profile-action {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile-action h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: var(--primary);
}

.action-button {
  background-color: var(--primary);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #0056b3;
}

.action-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.action-buttons button {
  font-size: 1em;
  padding: 10px 20px;
}

/* From Uiverse.io by vinodjangid07 */ 
.editBtn {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: rgb(93, 93, 116);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.123);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
}
.editBtn::before {
  content: "";
  width: 200%;
  height: 200%;
  background-color: rgb(102, 102, 141);
  position: absolute;
  z-index: 1;
  transform: scale(0);
  transition: all 0.3s;
  border-radius: 50%;
  filter: blur(10px);
}
.editBtn:hover::before {
  transform: scale(1);
}
.editBtn:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.336);
}

.editBtn svg {
  height: 17px;
  fill: white;
  z-index: 3;
  transition: all 0.2s;
  transform-origin: bottom;
}
.editBtn:hover svg {
  transform: rotate(-15deg) translateX(5px);
}
.editBtn::after {
  content: "";
  width: 17px;
  height: 1.5px;
  position: absolute;
  bottom: 10px;
  left: -5px;
  background-color: white;
  border-radius: 2px;
  z-index: 2;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-out;
}
.editBtn:hover::after {
  transform: scaleX(1);
  left: 0px;
  transform-origin: right;
}


/* From Uiverse.io by vinodjangid07 */ 
.button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  gap: 2px;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.button:hover {
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
  gap: 0;
}

.bin-top {
  transform-origin: bottom right;
}
.button:hover .bin-top {
  transition-duration: 0.5s;
  transform: rotate(160deg);
}



.profile-map-container #map {
  height: 150px; /* Nova visina mape */
  width: 50px;  /* Nova širina mape */
  border: 1px solid #ccc; /* Opcionalno: okvir za mapu */
  border-radius: 8px;     /* Opcionalno: zaobljeni uglovi */
  margin: 0 auto;         /* Centriranje unutar kontejnera */
}

