<mat-toolbar class="app-navbar" color="primary">
    <div class="right">
        <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="flex-end center">
            <button *ngIf="!hasSignedIn()" mat-raised-button routerLink="/signup">
                <span>Sign up</span>
            </button>
            <button *ngIf="!hasSignedIn()" mat-raised-button routerLink="/login">
                <span>Login</span>
            </button>
           
            <button *ngIf="hasSignedIn()"  class="greeting-hamburger" 
            mat-icon-button>
            </button>
           
            <button (click)="logout()" mat-raised-button>
                <span>Log out</span>
            </button>
           
        </div>
    </div>
</mat-toolbar>