<mat-toolbar class="app-navbar" color="primary">
    <div class="left">
        <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="flex-start center">
            <img src="assets/logo2.png" alt="App Logo" class="app-logo">
            <!-- Zamenite 'assets/logo.png' sa putanjom do vašeg logotipa -->
            <span class="app-name">Only Buns</span>
            <!-- <button mat-raised-button routerLink="/">
                <span>Home</span>
            </button> -->
            <button color="hover" mat-raised-button routerLink="/">
                <mat-icon>home</mat-icon>
                Home
            </button>
            <button color="hover" *ngIf="authService.isAuthenticated()" mat-raised-button routerLink="/posts">
                <mat-icon>feed</mat-icon>
                All posts
            </button>
            <button color="hover" *ngIf="authService.isAdmin()" mat-raised-button routerLink="/advertise-posts">
                <mat-icon>campaign</mat-icon>
                <span>Advertise posts</span>
            </button>
            <button *ngIf="!authService.isAdmin() && authService.isAuthenticated()" color="hover" mat-raised-button routerLink="/post-creation">
                <mat-icon>add</mat-icon>
                Add Post
            </button>
            <button *ngIf="!authService.isAdmin() && authService.isAuthenticated()" color="hover" mat-raised-button (click)="changeShowingChat()">
                <mat-icon>chat</mat-icon>
                Chat
            </button>
            <!-- <button mat-raised-button routerLink="/posts">
                <span>Posts</span>
            </button> -->
            <!-- Dodajte više dugmadi po potrebi -->
        </div>
    </div>
    <div class="right">
        <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="flex-end center">
            <!-- <button *ngIf="!hasSignedIn()" mat-raised-button routerLink="/signup">
                <span>Sign up</span>
            </button> -->
            <button *ngIf="!hasSignedIn()" color="hover" mat-raised-button routerLink="/signup">
                <mat-icon>person_add</mat-icon>
                Sign up
            </button>
            <!-- <button *ngIf="!hasSignedIn()" mat-raised-button routerLink="/login">
                <span>Login</span>
            </button> -->
            <button *ngIf="!hasSignedIn()" color="hover" mat-raised-button routerLink="/login">
                <mat-icon>login</mat-icon>
                Login
            </button>
            <div *ngIf="hasSignedIn()" class="profile-actions">
                <!-- <button (click)="logout()" mat-raised-button>
                    <span>Log out</span>
                </button> -->
                <button (click)="logout()" color="hover" mat-raised-button>
                    <mat-icon>logout</mat-icon>
                    Logout
                </button>
                <button mat-button (click)="goToProfile()" class="profile-button" matTooltip="Show profile">
                    <div class="profile-container">
                        <img src="assets/logo.png" alt="Profile Picture" class="profile-picture">
                        <span class="username">{{ email }}</span>
                    </div>
                </button>
            </div>
        </div>
    </div>
</mat-toolbar>