<div class="sadrzaj">
  <h2>Comments</h2>
  <div class="komentar" *ngFor="let comment of data.post.comments; let i = index" [ngClass]="{'odd-comment': i % 2 !== 0, 'even-comment': i % 2 === 0}">
    <div class="comment-header">
      <p class="comment-author">{{ comment.authorUsername }}</p>
    </div>
    <div class="comment-body">
      <p>{{ comment.comment }}</p>
    </div>
    <div class="comment-footer">
      <p class="comment-date">{{ comment.createdAt | date:'short' }}</p>
      <button *ngIf="isUsers(comment)" mat-button class="close-button" (click)="delete(comment.id)">Delete</button>
    </div>
  </div>
</div>
