.comment-header {
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
}

.komentar {
  border-radius: 5px;
  padding: 5px;
  position: relative; /* Position relative to allow absolute positioning of button inside */
}

.sadrzaj {
  height: 500px;
  width: 350px;
  padding: 20px;
  position: relative;
}

h2 {
  font-style: italic;
  font-family: 'Pacifico', cursive;
}

.comment-body {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.comment-footer {
  display: flex;
  justify-content: space-between; /* Distribute items on both sides */
  align-items: center; /* Vertically align items in the footer */
  font-size: 0.8em;
  color: gray;
  position: relative; /* To position the button inside it */
}

.odd-comment {
  background-color: aliceblue;
}

.even-comment {
  background-color: var(--warn-light);
}

div.comment {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.close-button {
  position: absolute;
  bottom: 5px;  /* Make sure it's placed inside the comment */
  right: 10px;
  background-color: var(--warn);
  color: white;
  transition: transform 0.3s ease;
}

.close-button:hover {
  transform: scale(1.1);
}

.comment-date {
  text-align: left;  /* Align the date to the left side */
  margin-left: 10px; /* Optional spacing from left */
}
