.notification-container {
    position: fixed;
    bottom: 16px;
    right: 16px;
    height: auto;
    z-index: 1000;
  }
  
  .notification {
    background-color: var(--primary-transparent); /* Zelena providna boja */
    color: white;
    padding: 16px;
    font-size: 16px;
    border-radius: 10px 20px 0px 20px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9); */
    margin-bottom: 8px;
    width: 300px;
    text-align: center;
    animation: slideIn 0.3s ease-out;
  }

  .warning {
    background-color: var(--warn); /* Zelena providna boja */
    color: white;
    padding: 16px;
    font-size: 16px;
    border-radius: 10px 20px 0px 20px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9); */
    margin-bottom: 8px;
    width: 300px;
    text-align: center;
    animation: slideIn 0.3s ease-out;
  }

   button {
    background-color: transparent;
    border: none;
    color: var(--accent-light);
    font-size: 18px;
    cursor: pointer;
    /* position: absolute; */
    top: 8px;
    right: 8px;
    padding: 4px;
    text-decoration: underline;
  }
  
   button:hover {
    color: #ffc107; /* Amber za hover efekat */
  }

  .removing {
    animation: slideOut 0.3s ease-out forwards; /* Aktivira animaciju izlaska */
  }
  
  
  /* Animacija ulaska */
  @keyframes slideIn {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes slideOut {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(100%);
      opacity: 0;
    }
  }