<div *ngIf="combinedData" class="main_div">
  <h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Analytics</h1>

  <div style="display: flex;flex-direction: row;">
    <div>
      <h2 class="custom-font">Number of Comments and Posts</h2>
      <select (change)="onYearChange($event)">
        <option *ngFor="let year of availableYears" [value]="year">{{ year }}</option>
      </select>
      <select (change)="onMonthChange($event)">
        <option value="all">All Months</option>
        <option *ngFor="let month of months" [value]="month.value">{{ month.name }}</option>
      </select>
      <ngx-charts-bar-vertical-2d [results]="combinedData" [xAxis]="true" [yAxis]="true" [legend]="true"
        [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxisLabel]="xAxisLabel" [yAxisLabel]="'Number of Comments and Posts'"
        [valueFormatting]="valueFormatting" [barPadding]="0" [groupPadding]="5" [legendTitle]="''" [view]="[1100, 500]">
      </ngx-charts-bar-vertical-2d>
    </div>
  </div>

  <div>
    <h2 class="custom-font">User Activity Distribution</h2>
    <ngx-charts-pie-chart [results]="radialChartData" [legend]="true" [labels]="true" [doughnut]="true"
      [view]="[700, 400]" [tooltipText]="tooltipText">
    </ngx-charts-pie-chart>
  </div>
</div>