ng-chart {
    display: block;
    width: 100%;
    height: 400px;
  }

.custom-font {
  font-family: 'Pacifico', cursive;
}

ngx-charts-bar-vertical, ngx-charts-pie-chart {
  width: 700px;
}

::ng-deep ngx-charts-legend {
  max-height: auto;
  width: 250px;
  font-size: 1.5em; /* Increase legend font size */
}

::ng-deep ngx-charts-label {
  font-size: 1.5em; /* Increase label font size */
}

.main_div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-select {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.custom-select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.custom-font {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}