mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .home-content {
    margin: 20px;
    padding: 20px;
    text-align: center;
  }
  
  button {
    margin: 0 10px;
  }
  