<mat-toolbar *ngIf="!authService.isAdmin() && authService.isAuthenticated()" color="primary">
  <span>Welcome</span>
  <span class="spacer"></span>
  <button color="hover" mat-raised-button routerLink="/posts">
    <mat-icon>subscriptions</mat-icon>
    Subscriptions
  </button>
  <button color="hover" mat-raised-button routerLink="/trends">
    <mat-icon>trending_up</mat-icon>
    Trends
  </button>
  <button color="hover" mat-raised-button routerLink="/map">
    <mat-icon>near_me</mat-icon>
    Near Posts
  </button>
  <!-- <button color="hover" mat-raised-button routerLink="/chat">
    <mat-icon>chat</mat-icon>
    Chat
  </button> -->
</mat-toolbar>

<mat-toolbar *ngIf="authService.isAdmin() && authService.isAuthenticated()" color="primary">
  <span>Welcome</span>
  <span class="spacer"></span>
  <button color="hover" mat-raised-button routerLink="/trends">
    <mat-icon>trending_up</mat-icon>
    Trends
  </button>
  <button color="hover" mat-raised-button routerLink="/analytics">
    <mat-icon>analytics</mat-icon>
    Analytics
  </button>
  <button (click)="showUsers()" mat-raised-button color="hover" mat-button>
    <mat-icon>group</mat-icon>
    All Users
  </button>
</mat-toolbar>

<div class="home-content">
  <app-all-posts [isHomePage]="true" *ngIf="!authService.isAdmin() && authService.isAuthenticated()"></app-all-posts>
  <app-all-posts *ngIf="!authService.isAuthenticated()"></app-all-posts>
</div>
