<mat-toolbar *ngIf="!authService.isAdmin() && authService.isAuthenticated()" color="primary">
  <span>Welcome</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/posts">
    <mat-icon>subscriptions</mat-icon>
    Subscriptions
  </button>
  <button mat-button routerLink="/trends">
    <mat-icon>trending_up</mat-icon>
    Trends
  </button>
  <button mat-button routerLink="/map">
    <mat-icon>near_me</mat-icon>
    Near Posts
  </button>
  <button mat-button routerLink="/chat">
    <mat-icon>chat</mat-icon>
    Chat
  </button>
</mat-toolbar>

<div class="home-content">
  <h2>Dobrodošli na početnu stranicu!</h2>
  <p>Izaberite opciju iz gornje navigacije za dalje aktivnosti.</p>
</div>
